<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
        <title>{% block title %}Recommend Today's Dinner{% endblock %}</title>
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
            <ul>
                <li><a href="/">Project Home</a></li>
                <li><a href="/admin/">Admin</a></li>
            </ul>
            {% endblock %}
        </div>
        <div id="map">
            <!--지도 넣기-->
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>