<!--식당 순위 화면-->

{% extends "base.html" %}

{% block content %}

<script>
    positions = [];
    {% for res in restaurants %}
        {% if forloop.counter <= 5 %}

            var tempName = "{{res.name}}";
            var tempLatitude = "{{res.latitude}}";
            var tempLongitude = "{{res.longitude}}";

            positions.push({
                content: '<div>'+tempName+'</div>',
                latlng: new kakao.maps.LatLng(tempLatitude, tempLongitude)
            });

        {% endif %}
    {% endfor %}
    notifyMarkerChange();
</script>

<h1>식당 순위</h1>

<ol>
    {% for res in restaurants %}
    <li><a href="/app/review/{{ res.id }}">{{ res.name }}</a>, {{ res.score }}점</li>
    {% endfor %}
</ol>

<br><p><a href="{% url 'app:index' %}">메인화면으로</a></p>

{% endblock %}