<!--리뷰 화면-->

{% extends "base.html" %}

{% block content %}

<script>
    var tempName = "{{restaurants.name}}";
    var tempLatitude = "{{restaurants.latitude}}";
    var tempLongitude = "{{restaurants.longitude}}";

    positions = [{
        content: '<div>'+tempName+'</div>',
        latlng: new kakao.maps.LatLng(tempLatitude, tempLongitude)
    }];

    notifyMarkerChange();
</script>

<h1>{{ restaurants.name }}<div style="float:right"><span style="font-size:small;">{% for tag in tags %}#{{tag}} {% endfor %}</span></div></h1>

<div class="review_scene">
    <p style="padding:20px;">{{ restaurants.lore }}</p>
    <hr>
    <div class="scroll"> 
    <ul>
        {% for rev in restaurants.review_set.all %}
        <li>
            <h4>작성자 : {{ rev.writer }}</h4>
            점수 : {{ rev.score }}<br>
            {{ rev.contents }}<br>
        </li><br><hr>
        {% endfor %}
    </ul>
    </div>
    <hr>
    <div class="review">
        <form action="{% url 'app:review_submit' restaurants.id %}" method="POST">
        {% csrf_token %}
            이름 : <input id="review_name" type="text" name="name" maxlength="20" required><br>
            점수 : <input id="review_score" type="number" name="score" value="10" min="1" max="10"><br>
            <textarea id="review_contents" name="contents" cols="40" rows="8" placeholder="리뷰 내용을 작성해주세요." maxlength="200"></textarea><br>
            <input type="submit" value="등록">
        </form>
    </div>
</div>

<br>

<br><p><a href="{% url 'app:index' %}">메인화면으로</a></p>

{% endblock %}