<!--식당 목록 화면-->

{% extends "base.html" %}

{% block content %}

<script>
    positions = [];
    {% for res in restaurants %}
        var tempName = "{{res.name}}";
        var tempLatitude = "{{res.latitude}}";
        var tempLongitude = "{{res.longitude}}";

        positions.push({
            content: '<div>'+tempName+'</div>',
            latlng: new kakao.maps.LatLng(tempLatitude, tempLongitude)
        });
    {% endfor %}
    notifyMarkerChange();
</script>

<h1>식당 목록</h1>

<ul>
    {% for res in restaurants %}
    <li><a href="/app/review/{{ res.id }}">{{ res.name }}</a></li>
    {% endfor %}
</ul>

<br><p><a href="{% url 'app:index' %}">메인화면으로</a></p>

{% endblock %}